.project_card {
    border: 1px solid black;
    padding: 10px 20px 40px 20px;
    position: relative;
}

.project_card time {
    color: #333333;
    font-size: 12px;
}

.project_card h2 {
    margin: 10px 0;
    font-weight: bold;
}

.project_card .tech {
    margin: 5px 0;
    color: darkgray;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.project_card:hover {
    cursor: pointer;
}

/* Normalize link styles */
.project_card a {
    text-decoration: none; /* Remove underlines by default */
    color: inherit; /* Inherit text color from the parent */
    cursor: pointer; /* Change cursor to a pointer on hover */
  }
  
/* Define link styles on hover */
.project_card a:hover {
    text-decoration: none; /* Underline on hover */
    cursor: pointer;
}